<CardPlace :dataArray="masterData.list2" :variant="'warning'" :header="'To-Do'">
  <Card v-for="(data2,index2) in masterData.list2" :key="index2" :data="data2"></Card>
</CardPlace>

<CardPlace :dataArray="masterData.list3" :variant="'primary'" :header="'Doing'">
  <Card v-for="(data3,index3) in masterData.list3" :key="index3" :data="data3"></Card>
</CardPlace>

<CardPlace :dataArray="masterData.list4" :variant="'success'" :header="'Done'">
  <Card v-for="(data4,index4) in masterData.list4" :key="index4" :data="data4"></Card>
</CardPlace>